___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [59]:
import requests

base = {}

r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/dollar_info?json').json()
print(r)

[{'r030': 840, 'txt': 'Долар США(довідковий)', 'rate': 27.9713, 'cc': 'USD', 'exchangedate': '16.04.2021'}]

2. Отримати курс долара за останній рік.

In [60]:
import datetime

today = datetime.date.today()
DB = {}

for i in range(0, 366):
    day = today - datetime.timedelta(i)
    params    = {'date' : day.strftime('%Y%m%d')}
    
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?valcode=USD&json', params).json()
    
    DB[day] = r[0]['rate']
print(DB)

{datetime.date(2021, 4, 18): 27.9592, datetime.date(2021, 4, 17): 27.9592, datetime.date(2021, 4, 16): 27.9592, datetime.date(2021, 4, 15): 27.9765, datetime.date(2021, 4, 14): 28.0156, datetime.date(2021, 4, 13): 27.9335, datetime.date(2021, 4, 12): 27.9094, datetime.date(2021, 4, 11): 27.9768, datetime.date(2021, 4, 10): 27.9768, datetime.date(2021, 4, 9): 27.9768, datetime.date(2021, 4, 8): 27.8923, datetime.date(2021, 4, 7): 27.8384, datetime.date(2021, 4, 6): 27.939, datetime.date(2021, 4, 5): 27.9555, datetime.date(2021, 4, 4): 27.8324, datetime.date(2021, 4, 3): 27.8324, datetime.date(2021, 4, 2): 27.8324, datetime.date(2021, 4, 1): 27.8226, datetime.date(2021, 3, 31): 27.8852, datetime.date(2021, 3, 30): 27.9694, datetime.date(2021, 3, 29): 27.9679, datetime.date(2021, 3, 28): 27.9698, datetime.date(2021, 3, 27): 27.9698, datetime.date(2021, 3, 26): 27.9698, datetime.date(2021, 3, 25): 27.8706, datetime.date(2021, 3, 24): 27.7295, datetime.date(2021, 3, 23): 27.6871, datetime.date(2021, 3, 22): 27.7184, datetime.date(2021, 3, 21): 27.6828, datetime.date(2021, 3, 20): 27.6828, datetime.date(2021, 3, 19): 27.6828, datetime.date(2021, 3, 18): 27.6978, datetime.date(2021, 3, 17): 27.6525, datetime.date(2021, 3, 16): 27.6434, datetime.date(2021, 3, 15): 27.7305, datetime.date(2021, 3, 14): 27.7486, datetime.date(2021, 3, 13): 27.7486, datetime.date(2021, 3, 12): 27.7486, datetime.date(2021, 3, 11): 27.7016, datetime.date(2021, 3, 10): 27.7431, datetime.date(2021, 3, 9): 27.7091, datetime.date(2021, 3, 8): 27.7564, datetime.date(2021, 3, 7): 27.7564, datetime.date(2021, 3, 6): 27.7564, datetime.date(2021, 3, 5): 27.7564, datetime.date(2021, 3, 4): 27.8477, datetime.date(2021, 3, 3): 27.933, datetime.date(2021, 3, 2): 28.0007, datetime.date(2021, 3, 1): 27.9456, datetime.date(2021, 2, 28): 27.9301, datetime.date(2021, 2, 27): 27.9301, datetime.date(2021, 2, 26): 27.9301, datetime.date(2021, 2, 25): 27.9492, datetime.date(2021, 2, 24): 27.8976, datetime.date(2021, 2, 23): 27.9304, datetime.date(2021, 2, 22): 27.8468, datetime.date(2021, 2, 21): 27.8461, datetime.date(2021, 2, 20): 27.8461, datetime.date(2021, 2, 19): 27.8461, datetime.date(2021, 2, 18): 27.9038, datetime.date(2021, 2, 17): 27.8304, datetime.date(2021, 2, 16): 27.9671, datetime.date(2021, 2, 15): 27.844, datetime.date(2021, 2, 14): 27.8384, datetime.date(2021, 2, 13): 27.8384, datetime.date(2021, 2, 12): 27.8384, datetime.date(2021, 2, 11): 27.7665, datetime.date(2021, 2, 10): 27.6426, datetime.date(2021, 2, 9): 27.6651, datetime.date(2021, 2, 8): 27.7711, datetime.date(2021, 2, 7): 27.8885, datetime.date(2021, 2, 6): 27.8885, datetime.date(2021, 2, 5): 27.8885, datetime.date(2021, 2, 4): 27.995, datetime.date(2021, 2, 3): 28.0589, datetime.date(2021, 2, 2): 28.0603, datetime.date(2021, 2, 1): 28.1324, datetime.date(2021, 1, 31): 28.1929, datetime.date(2021, 1, 30): 28.1929, datetime.date(2021, 1, 29): 28.1929, datetime.date(2021, 1, 28): 28.1652, datetime.date(2021, 1, 27): 28.1524, datetime.date(2021, 1, 26): 28.1665, datetime.date(2021, 1, 25): 28.1648, datetime.date(2021, 1, 24): 28.2561, datetime.date(2021, 1, 23): 28.2561, datetime.date(2021, 1, 22): 28.2561, datetime.date(2021, 1, 21): 28.2035, datetime.date(2021, 1, 20): 28.1544, datetime.date(2021, 1, 19): 28.1926, datetime.date(2021, 1, 18): 28.0524, datetime.date(2021, 1, 17): 28.0524, datetime.date(2021, 1, 16): 28.0524, datetime.date(2021, 1, 15): 28.0609, datetime.date(2021, 1, 14): 27.9705, datetime.date(2021, 1, 13): 28.046, datetime.date(2021, 1, 12): 28.2038, datetime.date(2021, 1, 11): 28.2847, datetime.date(2021, 1, 10): 28.4028, datetime.date(2021, 1, 9): 28.4028, datetime.date(2021, 1, 8): 28.4028, datetime.date(2021, 1, 7): 28.4028, datetime.date(2021, 1, 6): 28.4028, datetime.date(2021, 1, 5): 28.431, datetime.date(2021, 1, 4): 28.2746, datetime.date(2021, 1, 3): 28.2746, datetime.date(2021, 1, 2): 28.2746, datetime.date(2021, 1, 1): 28.2746, datetime.date(2020, 12, 31): 28.2746, datetime.date(2020, 12, 30): 28.2605, datetime.date(2020, 12, 29): 28.3668, datetime.date(2020, 12, 28): 28.3547, datetime.date(2020, 12, 27): 28.4551, datetime.date(2020, 12, 26): 28.4551, datetime.date(2020, 12, 25): 28.4551, datetime.date(2020, 12, 24): 28.4551, datetime.date(2020, 12, 23): 28.2513, datetime.date(2020, 12, 22): 28.0391, datetime.date(2020, 12, 21): 27.828, datetime.date(2020, 12, 20): 27.8184, datetime.date(2020, 12, 19): 27.8184, datetime.date(2020, 12, 18): 27.8184, datetime.date(2020, 12, 17): 27.7373, datetime.date(2020, 12, 16): 27.759, datetime.date(2020, 12, 15): 27.8661, datetime.date(2020, 12, 14): 27.9666, datetime.date(2020, 12, 13): 28.075, datetime.date(2020, 12, 12): 28.075, datetime.date(2020, 12, 11): 28.075, datetime.date(2020, 12, 10): 28.0406, datetime.date(2020, 12, 9): 28.0828, datetime.date(2020, 12, 8): 28.2394, datetime.date(2020, 12, 7): 28.2913, datetime.date(2020, 12, 6): 28.3038, datetime.date(2020, 12, 5): 28.3038, datetime.date(2020, 12, 4): 28.3038, datetime.date(2020, 12, 3): 28.4367, datetime.date(2020, 12, 2): 28.5583, datetime.date(2020, 12, 1): 28.4962, datetime.date(2020, 11, 30): 28.4681, datetime.date(2020, 11, 29): 28.4428, datetime.date(2020, 11, 28): 28.4428, datetime.date(2020, 11, 27): 28.4428, datetime.date(2020, 11, 26): 28.3816, datetime.date(2020, 11, 25): 28.3741, datetime.date(2020, 11, 24): 28.3694, datetime.date(2020, 11, 23): 28.3553, datetime.date(2020, 11, 22): 28.2572, datetime.date(2020, 11, 21): 28.2572, datetime.date(2020, 11, 20): 28.2572, datetime.date(2020, 11, 19): 28.13, datetime.date(2020, 11, 18): 28.1067, datetime.date(2020, 11, 17): 28.112, datetime.date(2020, 11, 16): 28.1158, datetime.date(2020, 11, 15): 28.1963, datetime.date(2020, 11, 14): 28.1963, datetime.date(2020, 11, 13): 28.1963, datetime.date(2020, 11, 12): 28.161, datetime.date(2020, 11, 11): 28.1206, datetime.date(2020, 11, 10): 28.1116, datetime.date(2020, 11, 9): 28.1375, datetime.date(2020, 11, 8): 28.3643, datetime.date(2020, 11, 7): 28.3643, datetime.date(2020, 11, 6): 28.3643, datetime.date(2020, 11, 5): 28.5074, datetime.date(2020, 11, 4): 28.6, datetime.date(2020, 11, 3): 28.5827, datetime.date(2020, 11, 2): 28.4507, datetime.date(2020, 11, 1): 28.4383, datetime.date(2020, 10, 31): 28.4383, datetime.date(2020, 10, 30): 28.4383, datetime.date(2020, 10, 29): 28.3989, datetime.date(2020, 10, 28): 28.3655, datetime.date(2020, 10, 27): 28.3352, datetime.date(2020, 10, 26): 28.2911, datetime.date(2020, 10, 25): 28.265, datetime.date(2020, 10, 24): 28.265, datetime.date(2020, 10, 23): 28.265, datetime.date(2020, 10, 22): 28.2737, datetime.date(2020, 10, 21): 28.3707, datetime.date(2020, 10, 20): 28.3762, datetime.date(2020, 10, 19): 28.3649, datetime.date(2020, 10, 18): 28.3365, datetime.date(2020, 10, 17): 28.3365, datetime.date(2020, 10, 16): 28.3365, datetime.date(2020, 10, 15): 28.3164, datetime.date(2020, 10, 14): 28.2481, datetime.date(2020, 10, 13): 28.2481, datetime.date(2020, 10, 12): 28.2098, datetime.date(2020, 10, 11): 28.2836, datetime.date(2020, 10, 10): 28.2836, datetime.date(2020, 10, 9): 28.2836, datetime.date(2020, 10, 8): 28.324, datetime.date(2020, 10, 7): 28.3639, datetime.date(2020, 10, 6): 28.4009, datetime.date(2020, 10, 5): 28.3408, datetime.date(2020, 10, 4): 28.3343, datetime.date(2020, 10, 3): 28.3343, datetime.date(2020, 10, 2): 28.3343, datetime.date(2020, 10, 1): 28.3105, datetime.date(2020, 9, 30): 28.2989, datetime.date(2020, 9, 29): 28.3062, datetime.date(2020, 9, 28): 28.2673, datetime.date(2020, 9, 27): 28.2487, datetime.date(2020, 9, 26): 28.2487, datetime.date(2020, 9, 25): 28.2487, datetime.date(2020, 9, 24): 28.1874, datetime.date(2020, 9, 23): 28.2059, datetime.date(2020, 9, 22): 28.2022, datetime.date(2020, 9, 21): 28.1718, datetime.date(2020, 9, 20): 28.1127, datetime.date(2020, 9, 19): 28.1127, datetime.date(2020, 9, 18): 28.1127, datetime.date(2020, 9, 17): 28.1195, datetime.date(2020, 9, 16): 28.0556, datetime.date(2020, 9, 15): 28.0003, datetime.date(2020, 9, 14): 27.9003, datetime.date(2020, 9, 13): 27.8346, datetime.date(2020, 9, 12): 27.8346, datetime.date(2020, 9, 11): 27.8346, datetime.date(2020, 9, 10): 27.8296, datetime.date(2020, 9, 9): 27.8032, datetime.date(2020, 9, 8): 27.7509, datetime.date(2020, 9, 7): 27.7325, datetime.date(2020, 9, 6): 27.6908, datetime.date(2020, 9, 5): 27.6908, datetime.date(2020, 9, 4): 27.6908, datetime.date(2020, 9, 3): 27.6428, datetime.date(2020, 9, 2): 27.6049, datetime.date(2020, 9, 1): 27.5618, datetime.date(2020, 8, 31): 27.4759, datetime.date(2020, 8, 30): 27.4615, datetime.date(2020, 8, 29): 27.4615, datetime.date(2020, 8, 28): 27.4615, datetime.date(2020, 8, 27): 27.386, datetime.date(2020, 8, 26): 27.4383, datetime.date(2020, 8, 25): 27.3942, datetime.date(2020, 8, 24): 27.4812, datetime.date(2020, 8, 23): 27.4812, datetime.date(2020, 8, 22): 27.4812, datetime.date(2020, 8, 21): 27.4812, datetime.date(2020, 8, 20): 27.316, datetime.date(2020, 8, 19): 27.2297, datetime.date(2020, 8, 18): 27.3061, datetime.date(2020, 8, 17): 27.3474, datetime.date(2020, 8, 16): 27.4083, datetime.date(2020, 8, 15): 27.4083, datetime.date(2020, 8, 14): 27.4083, datetime.date(2020, 8, 13): 27.5266, datetime.date(2020, 8, 12): 27.5982, datetime.date(2020, 8, 11): 27.6007, datetime.date(2020, 8, 10): 27.6486, datetime.date(2020, 8, 9): 27.6793, datetime.date(2020, 8, 8): 27.6793, datetime.date(2020, 8, 7): 27.6793, datetime.date(2020, 8, 6): 27.7028, datetime.date(2020, 8, 5): 27.8225, datetime.date(2020, 8, 4): 27.7365, datetime.date(2020, 8, 3): 27.6798, datetime.date(2020, 8, 2): 27.6913, datetime.date(2020, 8, 1): 27.6913, datetime.date(2020, 7, 31): 27.6913, datetime.date(2020, 7, 30): 27.6867, datetime.date(2020, 7, 29): 27.6851, datetime.date(2020, 7, 28): 27.7571, datetime.date(2020, 7, 27): 27.7559, datetime.date(2020, 7, 26): 27.8779, datetime.date(2020, 7, 25): 27.8779, datetime.date(2020, 7, 24): 27.8779, datetime.date(2020, 7, 23): 27.7798, datetime.date(2020, 7, 22): 27.6647, datetime.date(2020, 7, 21): 27.6011, datetime.date(2020, 7, 20): 27.3606, datetime.date(2020, 7, 19): 27.2738, datetime.date(2020, 7, 18): 27.2738, datetime.date(2020, 7, 17): 27.2738, datetime.date(2020, 7, 16): 27.119, datetime.date(2020, 7, 15): 27.1436, datetime.date(2020, 7, 14): 27.0883, datetime.date(2020, 7, 13): 26.9505, datetime.date(2020, 7, 12): 26.9335, datetime.date(2020, 7, 11): 26.9335, datetime.date(2020, 7, 10): 26.9335, datetime.date(2020, 7, 9): 26.9514, datetime.date(2020, 7, 8): 26.9309, datetime.date(2020, 7, 7): 27.1269, datetime.date(2020, 7, 6): 27.1716, datetime.date(2020, 7, 5): 27.1801, datetime.date(2020, 7, 4): 27.1801, datetime.date(2020, 7, 3): 27.1801, datetime.date(2020, 7, 2): 26.77, datetime.date(2020, 7, 1): 26.6676, datetime.date(2020, 6, 30): 26.6922, datetime.date(2020, 6, 29): 26.7002, datetime.date(2020, 6, 28): 26.7002, datetime.date(2020, 6, 27): 26.7002, datetime.date(2020, 6, 26): 26.7002, datetime.date(2020, 6, 25): 26.6509, datetime.date(2020, 6, 24): 26.6078, datetime.date(2020, 6, 23): 26.6695, datetime.date(2020, 6, 22): 26.7207, datetime.date(2020, 6, 21): 26.7633, datetime.date(2020, 6, 20): 26.7633, datetime.date(2020, 6, 19): 26.7633, datetime.date(2020, 6, 18): 26.776, datetime.date(2020, 6, 17): 26.7424, datetime.date(2020, 6, 16): 26.844, datetime.date(2020, 6, 15): 26.7303, datetime.date(2020, 6, 14): 26.5999, datetime.date(2020, 6, 13): 26.5999, datetime.date(2020, 6, 12): 26.5999, datetime.date(2020, 6, 11): 26.6367, datetime.date(2020, 6, 10): 26.6412, datetime.date(2020, 6, 9): 26.6005, datetime.date(2020, 6, 8): 26.6953, datetime.date(2020, 6, 7): 26.6953, datetime.date(2020, 6, 6): 26.6953, datetime.date(2020, 6, 5): 26.6953, datetime.date(2020, 6, 4): 26.7544, datetime.date(2020, 6, 3): 26.7955, datetime.date(2020, 6, 2): 26.8181, datetime.date(2020, 6, 1): 26.8685, datetime.date(2020, 5, 31): 26.9059, datetime.date(2020, 5, 30): 26.9059, datetime.date(2020, 5, 29): 26.9059, datetime.date(2020, 5, 28): 27.0002, datetime.date(2020, 5, 27): 26.9029, datetime.date(2020, 5, 26): 26.8742, datetime.date(2020, 5, 25): 26.7556, datetime.date(2020, 5, 24): 26.7699, datetime.date(2020, 5, 23): 26.7699, datetime.date(2020, 5, 22): 26.7699, datetime.date(2020, 5, 21): 26.5854, datetime.date(2020, 5, 20): 26.5159, datetime.date(2020, 5, 19): 26.571, datetime.date(2020, 5, 18): 26.638, datetime.date(2020, 5, 17): 26.6792, datetime.date(2020, 5, 16): 26.6792, datetime.date(2020, 5, 15): 26.6792, datetime.date(2020, 5, 14): 26.6897, datetime.date(2020, 5, 13): 26.7947, datetime.date(2020, 5, 12): 26.8196, datetime.date(2020, 5, 11): 26.8185, datetime.date(2020, 5, 10): 26.8185, datetime.date(2020, 5, 9): 26.8185, datetime.date(2020, 5, 8): 26.8185, datetime.date(2020, 5, 7): 26.9323, datetime.date(2020, 5, 6): 26.9774, datetime.date(2020, 5, 5): 26.9749, datetime.date(2020, 5, 4): 26.9592, datetime.date(2020, 5, 3): 26.9714, datetime.date(2020, 5, 2): 26.9714, datetime.date(2020, 5, 1): 26.9714, datetime.date(2020, 4, 30): 26.9714, datetime.date(2020, 4, 29): 27.0485, datetime.date(2020, 4, 28): 27.1025, datetime.date(2020, 4, 27): 27.1441, datetime.date(2020, 4, 26): 27.0137, datetime.date(2020, 4, 25): 27.0137, datetime.date(2020, 4, 24): 27.0137, datetime.date(2020, 4, 23): 27.0536, datetime.date(2020, 4, 22): 27.0815, datetime.date(2020, 4, 21): 27.0774, datetime.date(2020, 4, 20): 27.2022, datetime.date(2020, 4, 19): 27.2022, datetime.date(2020, 4, 18): 27.2022}

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [64]:
import statistics

mean  = {} 
stdev = {} 

for months in range (1,13):
    monthly_rate  = [DB[i] for i in DB.keys() if i.month == months]
    mean[months]  = statistics.mean(monthly_rate)
    stdev[months] = statistics.stdev(monthly_rate)
    
for el in mean.items():
    print(f'Average value for {el[0]} month equals {el[1]}')

print(
)

for el in stdev.items():
    print(f'Standart deviation for {el[0]} month equals {el[1]}')

Average value for 1 month equals 28.219770967741937
Average value for 2 month equals 27.884660714285715
Average value for 3 month equals 27.79555806451613
Average value for 4 month equals 27.571441935483872
Average value for 5 month equals 26.814329032258065
Average value for 6 month equals 26.707343333333334
Average value for 7 month equals 27.31283870967742
Average value for 8 month equals 27.52141935483871
Average value for 9 month equals 27.97671666666667
Average value for 10 month equals 28.324951612903227
Average value for 11 month equals 28.310153333333332
Average value for 12 month equals 28.16971935483871

Standart deviation for 1 month equals 0.1231532113359842
Standart deviation for 2 month equals 0.10631085913415092
Standart deviation for 3 month equals 0.11551466219833594
Standart deviation for 4 month equals 0.42447741893155594
Standart deviation for 5 month equals 0.13470483335438327
Standart deviation for 6 month equals 0.07284717438646436
Standart deviation for 7 month equals 0.3642097762530265
Standart deviation for 8 month equals 0.14819453525541967
Standart deviation for 9 month equals 0.2409137677795668
Standart deviation for 10 month equals 0.055517948274816174
Standart deviation for 11 month equals 0.1508870820853458
Standart deviation for 12 month equals 0.24976838393380232

4. Дану інформацію записати у файл за допомогою pickle.

In [66]:
import pickle

with open('kurs_usd.pickle', 'wb') as f:
    pickle.dump(DB, f)
    pickle.dump(mean, f)
    pickle.dump(stdev, f)

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [168]:
HEADERS = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
            'Accept-Language': 'en-US,en;q=0.5',
            'Accept-Encoding': 'gzip, deflate',
            'DNT': '1',
            'Connection': 'keep-alive',
            'Upgrade-Insecure-Requests': '1',
          }
BASE = {}

In [170]:
import requests
from bs4 import BeautifulSoup

BASE = {}
for page in range (1,4): # можна додати ще один конетк, щоб спочатку визначати кількість сторінок
    SITE = f'https://smallpacking.agrosem.ua/shop/page/{page}/'

    r = requests.get(SITE, headers = HEADERS)


    if r.status_code == 200:
        soup = BeautifulSoup(r.text, 'lxml')
        for el in (soup.find_all('a',class_="more-detail")):
            el_r = requests.get(el.get('href'), headers = HEADERS)
            lower_soup = BeautifulSoup(el_r.text, 'lxml')
            for n in lower_soup.find_all('h2'):
                if n.text == 'Меню' or n.text == 'Дякуємо!':
                    pass
                else:
                    name = n.text #name

            for s in lower_soup.find_all('span', class_='sku'):
                SKU = s.text[5:] #SKU

            for p in lower_soup.find_all('div', class_='price-container'): 
                l_price = p.text.split('грн')
                price = int(l_price[0].replace(' ','')) #price

            for w in lower_soup.find_all('span', class_='type-packaging-name'):
                if w.text == "Коробка":
                    weight = 1
                elif w.text == "Мішок":
                    weight = 3
                else:
                    weight = 10
            BASE[SKU] = [name, weight, price]
print(BASE)

{'439226': ['Добриво для фруктових та горіхових дерев', 3, 415], '1297': ['Добриво для ягідних чагарників', 3, 415], '91897': ['Добриво для ягідних чагарників', 1, 173], '61169': ['Добриво універсальне грунтове', 1, 173], '6651824': ['Добриво універсальне грунтове', 3, 415], '5227876': ['Добриво універсальне грунтове', 10, 1149], '32237': ['Добриво для декоративних листових', 3, 415], '4165215': ['Добриво для вічнозелених дерев та кущів', 10, 1149], '682645': ['Добриво універсальне грунтове', 3, 415], '7435': ['Добриво універсальне грунтове', 1, 173], '9354141': ['Добриво для газону', 3, 415], '1955': ['Добриво для вічнозелених дерев та кущів', 1, 173], '455799': ['Добриво для газону', 1, 173], '991645': ['Добриво для декоративних листових', 1, 173], '17477': ['Добриво універсальне грунтове', 10, 1149], '7143174': ['Добриво для газону', 3, 415], '3593': ['Добриво для полуниці', 1, 173], '4738184': ['Добриво для вічнозелених дерев та кущів', 3, 415], '3177412': ['Добриво для фруктових та горіхових дерев', 1, 173], '16762': ['Добриво для газону', 10, 1149], '78747': ['Добриво для декоративних листових', 3, 415], '5218': ['Добриво для вічнозелених дерев та кущів', 10, 1149], '33486': ['Добриво для декоративних листових', 1, 173], '198742': ['Добриво для овочів', 3, 415], '797756': ['Добриво для винограду', 1, 173], '726319': ['Добриво для вічнозелених дерев та кущів', 3, 415], '789868': ['Добриво для газону', 1, 155], '88255': ['Добриво для овочів', 1, 173], '68183': ['Добриво для розсади', 1, 173], '5656841': ['Добриво для тепличних овочів', 3, 415], '2217672': ['Добриво для троянд', 1, 173], '8362626': ['Добриво для вічнозелених дерев та кущів', 1, 155], '375738': ['Добриво для газону', 10, 1149], '51561': ['Добриво для тепличних овочів', 1, 173]}

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [182]:
import sqlite3

con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master")
info = cur.fetchall()
print(info)
con.close()

[('Customers',), ('sqlite_autoindex_Customers_1',), ('OrderItems',), ('sqlite_autoindex_OrderItems_1',), ('Orders',), ('sqlite_autoindex_Orders_1',), ('Products',), ('sqlite_autoindex_Products_1',), ('Vendors',), ('sqlite_autoindex_Vendors_1',)]

2. Виведіть перелік всіх таблиць.

In [183]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
info = cur.fetchall()
print(info)
con.close()

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [234]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("SELECT cust_id FROM Customers")
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

4. Всю таблицю Customers table

In [233]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("SELECT * FROM Customers")
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [232]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("SELECT distinct cust_name FROM Customers ORDER BY cust_name DESC")
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [231]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT Orders.cust_id, Orders.order_num FROM Customers 
            INNER JOIN Orders ON Customers.cust_id = Orders.cust_id""")
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)
('1000000001', 20009)

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [230]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT sum(quantity), item_price  FROM OrderItems GROUP BY order_item
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

(425, 5.49)
(465, 10.99)
(370, 11.99)
(110, 2.99)
(60, 4.49)

8. Товар (з таблиці Products), ціна якого становить 9.49

In [229]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT * FROM Products WHERE prod_price = '9.49'
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('RYL01', 'FNG01', 'King doll', 9.49, '12 inch king doll with royal garments and crown')
('RYL02', 'FNG01', 'Queen doll', 9.49, '12 inch queen doll with royal garments and crown')

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [228]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT prod_name, prod_price 
            FROM Products 
            WHERE prod_price BETWEEN 3 and 9
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('8 inch teddy bear', 5.99)
('12 inch teddy bear', 8.99)
('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)

10. Кількість товару, що було продано

In [226]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT sum(quantity)
            FROM OrderItems
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

(1430,)

11. Кількість найменувань товару, ціна якого більша за 4

In [225]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT count(prod_name)
            FROM Products WHERE prod_price>4
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

(6,)

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [224]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT prod_name, prod_price
            FROM Products
            ORDER BY prod_price DESC
            LIMIT 3
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [237]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT t.cust_id, t.qty
            FROM (SELECT cust_id, count(order_num) as qty
                  FROM Orders
                  GROUP BY cust_id) as t
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [223]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT Customers.cust_name, Orders.order_num
            FROM Customers
            INNER JOIN Orders
            ON Customers.cust_id = Orders.cust_id
            
            """)
info = cur.fetchall()
for i in info:
    print(i)
con.close()

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [221]:
con = sqlite3.connect('tysql.sqlite')
cur = con.cursor()
cur.execute("""SELECT prod_name, prod_price 
            FROM Products
            WHERE prod_price<5
            UNION ALL
            SELECT prod_name, prod_price 
            FROM Products
            WHERE prod_price>=5
            """)
info = cur.fetchall()
for i in info:
    print(i)
print(info)
con.close()

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)
('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

1)  SELECT Product.model, PC.speed, PC.hd FROM Product
    LEFT JOIN PC on Product.model = PC.model
    WHERE PC.price < 500

2)  SELECT DISTINCT(Product.maker) FROM Product
    INNER JOIN Printer on Product.model = Printer.model

3)  SELECT model, ram, screen FROM Laptop
    WHERE price > 1000
    
4)  SELECT * FROM printer WHERE color = 'y'


5)  SELECT model, speed, hd FROM PC 
    WHERE price < 600 and (cd = '12x' or cd = '24x')

6)  SELECT Product.maker, Laptop.speed FROM Product 
    LEFT JOIN Laptop on Product.model = Laptop.model
    WHERE Laptop.hd>=10

7)  SELECT DISTINCT(PC.model), PC.price FROM Product
    INNER JOIN PC on Product.model = PC.model
    WHERE Product.maker = 'B'
    UNION ALL
    SELECT DISTINCT(Laptop.model), Laptop.price FROM Product
    INNER JOIN Laptop on Product.model = Laptop.model
    WHERE Product.maker = 'B'
    UNION ALL
    SELECT DISTINCT(Printer.model), Printer.price FROM Product
    INNER JOIN Printer on Product.model = Printer.model
    WHERE Product.maker = 'B'

8)  SELECT Product.maker FROM Product
    INNER JOIN PC ON Product.model = PC.model
    EXCEPT
    SELECT Product.maker FROM Product
    INNER JOIN Laptop ON Product.model = Laptop.model
    
9)  SELECT DISTINCT(Product.maker) FROM Product
    INNER JOIN PC ON Product.model = PC.model
    WHERE speed >= 450

10) SELECT DISTINCT model, price
    FROM Printer
    WHERE price = (SELECT MAX(price)
    FROM Printer)
    
11) SELECT AVG(speed) FROM PC

12) SELECT AVG(speed) FROM Laptop WHERE price > 1000

13) SELECT AVG(PC.speed) FROM Product
    INNER JOIN PC ON Product.model = PC.model
    WHERE Product.maker = 'A'

14) SELECT Classes.class, Ships.name, Classes.country FROM Ships
    INNER JOIN Classes ON Ships.class = Classes.class
    WHERE numGuns >= 10
    
15) SELECT hd FROM PC
    GROUP BY hd 
    HAVING COUNT(model)>=2
    
16) SELECT A.model, B.model, A.speed, A.ram 
    FROM PC as A
    CROSS JOIN PC as B
    WHERE A.speed = B.speed AND A.ram = B.ram AND A.model > B.model

17) SELECT product.type, laptop.model, laptop.speed FROM laptop
    INNER JOIN product on laptop.model = product.model
    WHERE laptop.speed < (SELECT MIN(speed) FROM PC)
    
18) SELECT Product.maker, min(printer.price) FROM Product
INNER JOIN Printer ON Product.model = Printer.model
WHERE printer.color = 'y' 
GROUP BY product.maker

19) SELECT product.maker, avg(screen) FROM product
    INNER JOIN laptop ON product.model = laptop.model
    GROUP BY product.maker

20) SELECT product.maker, count(PC.model) as Count_Model
    FROM product 
    INNER JOIN PC ON product.model = PC.model
    GROUP BY product.maker HAVING COUNT(PC.model) >= 3

21) SELECT product.maker, max(pc.price) as max_price FROM product
    INNER JOIN PC ON product.model = PC.model
    GROUP BY product.maker

22) SELECT speed, avg(price) FROM PC
    WHERE speed>600
    GROUP BY speed

23) SELECT product.maker FROM product
    INNER JOIN PC On product.model = pc.model
    WHERE pc.speed >=750
    INTERSECT
    SELECT product.maker FROM product
    INNER JOIN laptop On product.model = laptop.model
    WHERE  laptop.speed >=750
    
24) SELECT t.model FROM (SELECT DISTINCT model, price FROM PC
    WHERE price = (SELECT MAX(price) FROM PC)
    UNION ALL
    SELECT DISTINCT model, price FROM laptop
    WHERE price = (SELECT MAX(price) FROM Laptop)
    UNION ALL
    SELECT DISTINCT model, price FROM printer
    WHERE price = (SELECT MAX(price) FROM printer)) as t

    WHERE t.price = (SELECT max(t.price) FROM (SELECT DISTINCT model, price FROM PC
    WHERE price = (SELECT MAX(price) FROM PC)
    UNION ALL
    SELECT DISTINCT model, price FROM laptop
    WHERE price = (SELECT MAX(price) FROM Laptop)
    UNION ALL
    SELECT DISTINCT model, price FROM printer
    WHERE price = (SELECT MAX(price) FROM printer)) as t)
    
25) SELECT t.maker FROM (SELECT product.maker, PC.ram, PC.speed FROM product
    INNER JOIN PC on product.model = PC.model
    WHERE PC.ram = (SELECT min(ram) FROM PC)) as t
    WHERE t.speed = (SELECT max(speed) FROM (SELECT product.maker, PC.ram, PC.speed FROM product
    INNER JOIN PC on product.model = PC.model
    WHERE PC.ram = (SELECT min(ram) FROM PC)) as t)
    INTERSECT
    SELECT product.maker FROM product
    INNER JOIN printer ON product.model = printer.model

26) SELECT AVG(t.price) FROM (
    SELECT price FROM product
    INNER JOIN PC on product.model = PC.model
    WHERE product.maker = 'A'
    UNION ALL
    SELECT price FROM product
    INNER JOIN laptop on product.model = laptop.model
    WHERE product.maker = 'A') as t

27) SELECT product.maker, AVG(PC.hd) as Avg_hd FROM product
    INNER JOIN PC ON product.model = PC.model
    WHERE product.maker IN (
    SELECT DISTINCT t1.maker 
    FROM (SELECT product.maker FROM product
    INNER JOIN PC ON product.model = PC.model) as t1
    INTERSECT
    SELECT DISTINCT t2.maker 
    FROM (SELECT product.maker FROM product
    INNER JOIN printer ON product.model = printer.model) as t2
    )
    GROUP BY product.maker

28) SELECT COUNT(product.maker) as qty FROM Product
    Group by product.maker
    HAVING count(model) = 1

29)